body {
     font-size: 1.2em;
     font-family: Arial, Helvetica, sans-serif;

     margin: auto;
     width: 70%;
}


nav {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 40px;
     padding: 15px 0;
     border-bottom: 2px solid black;
}

