
img {
     width: 100px;
     height: 100px;
     object-fit: contain;
     margin: 0 auto 10px;
}

.product-card {
     border: 3px solid #ddd;
     border-radius: 10px;
     padding: 15px;
     background-color: #f1f1f1;
     text-align: center;
}

.grid-display { 
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 20px;
     padding: 50 0;
     margin: 0 auto;
}

.search-bar {
     font-size: 16px;
     width: min(700px, 90%);
     padding: 12px 16px;
     border: 1.5px solid #0f5132;
     border-radius: 8px;
     outline: none;
}